<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>by.kuzmich.finaltask.controller.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>by.kuzmich.finaltask.controller.filter.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/pages/list.jsp</url-pattern>
    <url-pattern>/pages/lawmap.jsp</url-pattern>
    <url-pattern>/pages/action.jsp</url-pattern>
    <url-pattern>/logout.html</url-pattern>
    <url-pattern>/action.html</url-pattern>
    <url-pattern>/lawmap.html</url-pattern>
    <url-pattern>/pages/list.jsp</url-pattern>
    <url-pattern>/pages/list.html</url-pattern>
    <url-pattern>/addMaterial.html</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>by.kuzmich.finaltask.controller.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/pages/list.html</url-pattern>
    <url-pattern>/pages/list.jsp</url-pattern>
    <url-pattern>/lawmap.html</url-pattern>
    <url-pattern>/lawermenu.html</url-pattern>
    <url-pattern>/addAction.html</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>UrlTranslationFilter</filter-name>
    <filter-class>by.kuzmich.finaltask.controller.filter.UrlTranslationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlTranslationFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

</web-app>
